header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.principal{
	position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.titulo-esquerda {
    color: black;
    font-weight: bold;
    font-size: 22px;
}

p {
	text-align: justify;
	display: inline-block;
    margin: 0 0 0 15px;
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.itens {
	font-style: italic;
	margin: 0 0 0 15px;
	font-size: 20px;
}

.beneficios {
    padding: 20px;
	position: relative;
    width: 940px;
    margin: 0 auto;
}

.ul {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 50%;
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px 0;
    
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}